$variavel-global: 100;

// Shadowing
.div-1 {
    $variavel-global: 50;
    width: $variavel-global;
}

// Sobrescrever
.div-2 {
    width: $variavel-global;
}

.div-3 {
    $variavel-global: 50 !global;
    width: $variavel-global;
}

.div-4 {
    width: $variavel-global;
}