$fontes: Helvetica, sans-serif;
$cor-primaria: #FF00FF;
$cor-secundaria: #00FF00;
$altura: 500px;
$largura: 1000px;

body {
    font: 100% $fontes;
    color: $cor-primaria;
}

h1 {
    color: $cor-secundaria;
}

.div-1 {
    height: $altura;
    width: $largura;
}